<div class="container-fixed">
<h1>Comment Added!</h1>
<h3>
<%#= link_to 'Back', job_path(@job) %>
<%#= link_to 'Back', job_comments_path %>
<%= link_to 'More', jobs_path %>

</h3>
</div> <!-- Container -->