<p>Find me in app/views/users/index.html.erb</p>
<h1>Here are all the users</h1>


<% @users.each do |user| %>
	
	<ul>
		<li>
		<%= user.email %>
		</li>
	</ul>
		<%= user.jobs.length %> jobs
	

<% end %>