<div class="container-fixed">
 <div class="page-header">
  <h1>Member Profile:<br><small><%= @user.email %></small></h1>
</div>


<% @user.jobs.each do |job| %>
      <ul>
        <h3><li><%= link_to job.title, job %></li></h3>
        <%#= link_to job.user.email, job.user %>
      </ul>

      <% end %>
<br>
<%= link_to 'Back to Jboard', jobs_path %>

</div> <!-- Container --> 